### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Problema2ChatGPT/
/Problema3ChatGPT/
/Problema4ChatGPT/
/Problema5ChatGPT/
/Problema6ChatGPT/
/Problema7ChatGPT/
/Problema8ChatGPT/